


<div class="container-fluid">
    <h1 class="w-100 text-center">Welcome to Mock Generator :D</h1>
    <ng-container *ngFor="let field of mockBody.fields">
        <app-mock-field 
         [mockField]="field"
        >
        </app-mock-field>
    </ng-container>
    <button class="btn btn-success mt-2" (click)="addField()">
        Add Field
    </button>
    <button class="btn btn-success mt-2 ml-2" (click)="generateMock()">
        Generate Mock
    </button>
</div>

{{finalObj|json}}


<!-- <footer class="footer w-100"  style="position: absolute; bottom: 0;">
    <div class="container w-100">
      <p class="w-100 text-center my-3">
        Wanna give me some advice? contact me at <a href="https://www.linkedin.com/in/pedro-freire-a63319129/">Linkedin</a>
      </p>
    </div>
</footer> -->