


<div class="container">
    <h1 class="w-100 text-center">Welcome to Mock Generator :D</h1>
    
    <form [formGroup]="formMock">

        <div formArrayName="mockField">
            <!-- 
                vai ter um component pra object, outro pra range e por ai vai...
            -->

            <div class="row" [formGroupName]="i" *ngFor="let formField of mockField.controls; let i=index">
                <div class="form-group col-md-4">
                    <label attr.for="{{'fieldName'+i}}">Field Name</label>
                    <input type="text" formControlName="fieldName" class="form-control" id="{{'fieldName'+i}}" aria-describedby="Field Name" placeholder="Field Name">
                    <small id="emailHelp" class="form-text text-muted">Key value that will be in the json mock</small>
                </div>
                <div class="form-group col-md-4">
                    <label attr.for="{{'fieldType'+i}}">Field Type</label>
                    <select formControlName="fieldType" id="{{'fieldType'+i}}" (change)="changeType(i)" class="form-control">
                        <option *ngFor="let type of fieldTypes" [value]="type.value">{{type.label}}</option>
                    </select>
                </div>
                <div *ngIf="getOptionalsFieldByIndex(i)?.get('validatorType').value=='range'" class="form-group col-md-4">
                    <div formGroupName="optionalsFields" class="row">
                        <div class="col-md-6">
                            <label for="">Min Range</label>
                            <input type="text" formControlName="minRange" class="form-control" aria-describedby="minRange" placeholder="minRange">
                        </div>
                        <div class="col-md-6">
                            <label for="">Max Range</label>
                            <input type="text" formControlName="maxRange" class="form-control" aria-describedby="maxRange" placeholder="maxRange">
                        </div>
                    </div>
                    <!-- fazer um component de range -->
                </div>
                <div  *ngIf="getOptionalsFieldByIndex(i)?.get('validatorType').value=='object'"  class="form-group col-offset-2 col-md-10">
                       
                        <mock-object-field 
                            [mockForm]="getOptionalsFieldByIndex(i)"
                            [fieldTypes]="fieldTypes"
                        >
                       </mock-object-field>
                </div>
            </div>
        
        </div>

        <button class="btn btn-primary" (click)="addField()">
            Add Field
        </button>

    </form>

</div>