<form [formGroup]="mockForm">
    <div class="form-group col-md-4">
        <label>Field Name</label>
        <input type="text" formControlName="fieldName" class="form-control" aria-describedby="Field Name"
            placeholder="Field Name">
        <small id="emailHelp" class="form-text text-muted">Key value that will be in the json mock</small>
    </div>
    <div class="form-group col-md-4">
        <label>Field Type</label>
        <select formControlName="fieldType" (change)="changeType(getOptionalsFieldByIndex(i))" class="form-control">
            <option *ngFor="let type of fieldTypes" [value]="type.value">{{type.label}}</option>
        </select>
    </div>

</form>