
<div class="container-fluid pl-2 py-2">
    
    <div class="form-group">
        <label>name</label>
        <input class="form-control" [(ngModel)]="mockField.name">
    </div>
    <div class="form-group">
        <label>type</label>
        <input class="form-control" [(ngModel)]="mockField.type">
    </div>
    <div class="form-group">
        <select [(ngModel)]="mockField.fieldType" class="form-control">
          <option selected="true" value="select">Select a type</option>
          <option *ngFor="let fieldType of fieldTypes" [value]="fieldType.value">{{fieldType.label}}</option>
        </select>
    </div>


    <button class="btn btn-outline-primary" type="button" data-toggle="collapse" 
          [attr.data-target]="'#collapseExample'+isCollapsed" aria-expanded="false" 
          [attr.aria-controls]="'collapseExample'+isCollapsed">
        See Children
    </button>
    <div [attr.id]="'collapseExample'+isCollapsed" class="pl-2 mt-2 collapse">
        <div class="card">
            <div class="card-body">
                <ng-container *ngFor="let field of mockField.children">
                    <mock-field
                     [mockField]="field"
                    >
                    </mock-field>
                </ng-container>
            </div>
        </div>
    </div>
    


    <button class="ml-2 mt-2 btn btn-success" (click)="addField()">
        Add Child Field
    </button>

</div>
